@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: headerFont;
  src: url("./../assets/InterDisplay-SemiBoldItalic-C50CZqg2.ttf");
}

@font-face {
  font-family: buttonFont;
  src: url("./../assets/Poppins-Medium-Ci_Fy78h.ttf");
}

@font-face {
  font-family: textFont;
  src: url("./Utils/Fonts/arial_narrow_7-B7fRSVqS.ttf");
}
